.card {
	border: none;
	outline: none;
	width: 15rem;
	background: transparent;
	transition: ease-in-out 0.25s;
	cursor: pointer;
}
.card-body {
	color: white;
}
.card img {
	border-radius: 10px;
}
.card:hover {
	transform: scale(1.1);
	transition: ease-in-out 0.25s;
}
