.App {
	text-align: center;
}
body {
	width: 100%;
	background: rgb(74, 74, 74);
	background: radial-gradient(circle, rgba(74, 74, 74, 1) 5%, rgb(19, 19, 19) 100%, rgb(19, 19, 19) 100%);
}
.homePage {
	color: white;
}
.sideNavContainer {
	width: 10%;
	max-width: 400px;
	min-width: 300px;
	margin: 0 auto;
}
